.jplayer {
  height: 50px;
	margin: 0 8px 0 8px;
  position: relative;
  sbackground: #ff0;
}
.jplayer * {
  position: absolute;
}
.jplayer-audio-source {
  position: absolute;
  display: block;
  width: 9px; height: 10px;
  margin: 0 -5px;
  background: url('i/download.png'); 
  left: 0; top: 22px;
}
.jplayer-audio-source-shifted {
  left: 0; top: 22px;
}
.jplayer-ui {
  left: 0; top: 0;
  width: 100%;  height: 14px;
	z-index: 1;
}

.jplayer-play-mine {
  width: 100%;
  height: 14px;
  margin: 0 -8px;
	box-shadow: 0px 4px 16px #e8e8e8;
	
	border-radius: 7px;
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #ffffff;
	
	background-image: linear-gradient(bottom, rgb(221,221,221) 7%, rgb(247,247,247) 7%, rgb(247,247,247) 93%, rgb(254,254,254) 93%);
	background-image: -o-linear-gradient(bottom, rgb(221,221,221) 7%, rgb(247,247,247) 7%, rgb(247,247,247) 93%, rgb(254,254,254) 93%);
	background-image: -moz-linear-gradient(bottom, rgb(221,221,221) 7%, rgb(247,247,247) 7%, rgb(247,247,247) 93%, rgb(254,254,254) 93%);
	background-image: -webkit-linear-gradient(bottom, rgb(221,221,221) 7%, rgb(247,247,247) 7%, rgb(247,247,247) 93%, rgb(254,254,254) 93%);
	background-image: -ms-linear-gradient(bottom, rgb(221,221,221) 7%, rgb(247,247,247) 7%, rgb(247,247,247) 93%, rgb(254,254,254) 93%);
}

.jplayer-load-bar {
	height: inherit;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;	
	border-radius: 7px;
	border-top:1px solid #a0a0a0;
	border-bottom:1px solid #ffffff;
	background-image: linear-gradient(bottom, rgb(242,240,229) 0%, rgb(231,229,217) 65%, rgb(188,186,173) 100%);
	background-image: -o-linear-gradient(bottom, rgb(242,240,229) 0%, rgb(231,229,217) 65%, rgb(188,186,173) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(242,240,229) 0%, rgb(231,229,217) 65%, rgb(188,186,173) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(242,240,229) 0%, rgb(231,229,217) 65%, rgb(188,186,173) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(242,240,229) 0%, rgb(231,229,217) 65%, rgb(188,186,173) 100%);
}

.jplayer-play-bar {
  nobackground: url('i/bg-played.png');
	height:inherit;
	position:absolute;
	top:0;
	left:0;
	z-index:3;
	border-top-left-radius:7px;
	border-bottom-left-radius:7px;
	border-top:1px solid #024694;
	border-bottom:1px solid #ffffff;
	max-width:730px !important;
	
	background-image: linear-gradient(bottom, rgb(0,185,241) 0%, rgb(0,153,242) 65%, rgb(0,105,242) 100%);
	background-image: -o-linear-gradient(bottom, rgb(0,185,241) 0%, rgb(0,153,242) 65%, rgb(0,105,242) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(0,185,241) 0%, rgb(0,153,242) 65%, rgb(0,105,242) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,185,241) 0%, rgb(0,153,242) 65%, rgb(0,105,242) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(0,185,241) 0%, rgb(0,153,242) 65%, rgb(0,105,242) 100%);
}

/*
.jplayer-load-bar-end {
  left: 0;
  top: 1px;
  width: 9px;
  height: 14px;
  background: url('i/end-preloaded.png');
}
*/

.jplayer-play-lift {
/*
  left: 0; top: 1px;
  width: 14px; height: 14px;
  
 */
  
  margin-left: -6px;
	width: 12px; height: 12px;
	z-index: 10;
	border-radius: 6px;
	position: absolute;
	top: 1px;
	
	background-image: linear-gradient(bottom, rgb(227,227,227) 0%, rgb(254,254,253) 100%);
	background-image: -o-linear-gradient(bottom, rgb(227,227,227) 0%, rgb(254,254,253) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(227,227,227) 0%, rgb(254,254,253) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(227,227,227) 0%, rgb(254,254,253) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(227,227,227) 0%, rgb(254,254,253) 100%);

	border:1px solid #c0beb9;
	
	cursor:pointer;
	cursor:hand;
}

.jplayer-buffering {
  left: .5px; top: .5px;
  width: 12px; height: 12px;
  background: url('i/buffering.gif'); 
}
.jplayer-control {
  left: -24px; top: 15px; 
  width: 24px; height: 25px;
  margin: -8px;
  
  left: auto; right: -24px;

  cursor: pointer; cursor: hand;
}
.jplayer-play {
  background: url('i/paused.png') 8px 8px no-repeat;
}
.jplayer-pause {
  background: url('i/playing.png') 8px 8px no-repeat;
}
.jplayer-time-info {
  width: 100%;
  top: 32px;
  position: absolute;
  /*
  font-size: 9px;
  font-family: 'Verdana';
  */
  font-size: 85%;
  text-shadow: 0px 1px 0px #fff;
}
.jplayer-play-time {
  left: -8px;
}
.jplayer-name {
  left: 0;
  width: 100%;
  text-align: center;
}
.jplayer-total-time {
  right: -8px;
}
/*
.jplayer-volume {
  right: -24px; top: 14px; 
  width: 22px; height: 27px;
  margin: -8px;
  cursor: pointer; cursor: hand;
}
.jplayer-volume-0 {
  background: url('i/volume-0.png') 8px 8px no-repeat;
}
.jplayer-volume-1 {
  background: url('i/volume-1.png') 8px 8px no-repeat;
}
.jplayer-volume-2 {
  background: url('i/volume-2.png') 8px 8px no-repeat;
}
.jplayer-volume-3 {
  background: url('i/volume-3.png') 8px 8px no-repeat;
}
*/