.jplayer {
  width: 100%;
  position: relative;
}
.jplayer-progress-area {
  height: 15px;
  margin: 0 8px .375em 8px;
  position: relative;
	border-radius: 8px;
  box-shadow: 0 2px 16px #f0f0f0;
}
.jplayer-progress-area * {
  position: absolute;
}
.jplayer-audio-source-shifted {
  left: auto;
  right: -48px;
}
.jplayer-left,
.jplayer-load-bar,
.jplayer-load-bar-end {
	border-top: 1px solid #a0a0a0;
	border-bottom: 1px solid #ffffff;
	background-image: linear-gradient(bottom, rgb(242,240,229) 0%, rgb(231,229,217) 67%, rgb(188,186,173) 100%);
	background-image: -o-linear-gradient(bottom, rgb(242,240,229) 0%, rgb(231,229,217) 67%, rgb(188,186,173) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(242,240,229) 0%, rgb(231,229,217) 67%, rgb(188,186,173) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(242,240,229) 0%, rgb(231,229,217) 67%, rgb(188,186,173) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(242,240,229) 0%, rgb(231,229,217) 67%, rgb(188,186,173) 100%);
}

.jplayer-right,
.jplayer-play-mine {
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #ffffff;
	background-image: linear-gradient(bottom, rgb(221,221,221) 7%, rgb(247,247,247) 7%, rgb(247,247,247) 93%, rgb(254,254,254) 93%);
	background-image: -o-linear-gradient(bottom, rgb(221,221,221) 7%, rgb(247,247,247) 7%, rgb(247,247,247) 93%, rgb(254,254,254) 93%);
	background-image: -moz-linear-gradient(bottom, rgb(221,221,221) 7%, rgb(247,247,247) 7%, rgb(247,247,247) 93%, rgb(254,254,254) 93%);
	background-image: -webkit-linear-gradient(bottom, rgb(221,221,221) 7%, rgb(247,247,247) 7%, rgb(247,247,247) 93%, rgb(254,254,254) 93%);
	background-image: -ms-linear-gradient(bottom, rgb(221,221,221) 7%, rgb(247,247,247) 7%, rgb(247,247,247) 93%, rgb(254,254,254) 93%);  
}

.jplayer-left,
.jplayer-right,
.jplayer-load-bar-end {
	border-radius: 8px;
	width: 15px; height: 15px;
	top: 0;
}
.jplayer-load-bar-end {
  top: -1px;
  margin: 0 -7.5px;
}

.jplayer-left { left: -8px }
.jplayer-right { right: -8px }

.jplayer-play-left-played {
	border-radius: 8px;
	width: 15px; height: 15px;
	top: 0;
}
.jplayer-play-mine {
  width: 100%;
  height: 15px;
  top: 0;
	z-index: 1;
}
.jplayer-play-bar,
.jplayer-play-left-played {
	border-top: 1px solid #024694;
	border-bottom: 1px solid #ffffff;
	background-image: linear-gradient(bottom, rgb(0,185,241) 0%, rgb(0,153,242) 67%, rgb(0,105,242) 100%);
	background-image: -o-linear-gradient(bottom, rgb(0,185,241) 0%, rgb(0,153,242) 67%, rgb(0,105,242) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(0,185,241) 0%, rgb(0,153,242) 67%, rgb(0,105,242) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,185,241) 0%, rgb(0,153,242) 67%, rgb(0,105,242) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(0,185,241) 0%, rgb(0,153,242) 67%, rgb(0,105,242) 100%);
	
}
.jplayer-load-bar {
  top: -1px;
  width: 0;
  height: 15px;
	z-index: 2;	
  cursor: pointer; cursor: hand;
}
.jplayer-play-bar {
  top: -1px;
  width: 0;
  height: 15px;
	z-index: 3;
  cursor: pointer; cursor: hand;
}
.jplayer-play-lift {
  left: 0; top: 0;
  width: 14px; height: 14px;
	border-radius: 7px;
  margin-left: -7px;
	box-shadow: 0 1px 2px #808080;
  
  cursor: pointer; cursor: hand;
	z-index: 10;
	bporder: 1px solid #f0f0f0;
	background-image: linear-gradient(bottom, rgb(227,227,227) 0%, rgb(254,254,253) 100%);
	background-image: -o-linear-gradient(bottom, rgb(227,227,227) 0%, rgb(254,254,253) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(227,227,227) 0%, rgb(254,254,253) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(227,227,227) 0%, rgb(254,254,253) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(227,227,227) 0%, rgb(254,254,253) 100%);
  cursor: pointer; cursor: hand;
}
.jplayer-buffering {
  left: 1px; top: 1px;
  width: 12px; height: 12px;
  background: url('i/buffering.gif'); 
}
.jplayer-info-area {
  position: relative;
  text-align: center;
  font-size: 85%;
  text-shadow: 0px 1px 0px #fff;
}
.jplayer-play-control {
  float: left;
  width: 20px; height: 16px;
  cursor: pointer; cursor: hand;
}
.jplayer-play,
.jplayer-pause {
  width: 8px; height: 100%;
}
.jplayer-play {
  background: url('i/paused.png') left center no-repeat;
}
.jplayer-pause {
  background: url('i/playing.png') left center no-repeat;
}
.jplayer-audio-source {
  float: right;
  width: 20px; height: 16px;
  background: url('i/download.png') right center no-repeat;
}
.jplayer-play-time,
.jplayer-total-time {
  min-width: 80px;
  min-height: 1em;
  height: 100%;
}
.jplayer-play-time {
  float: left;
  text-align: left;
}
.jplayer-total-time {
  float: right;
  text-align: right;
}
.jplayer-name {
  margin: 0 100px;
}