.jplayer {
  height: 48px;
  margin: 0 8px;
  position: relative;
}
.jplayer * {
  position: absolute;
}
.jplayer-audio-source {
  position: absolute;
  display: block;
  width: 9px; height: 10px;
  margin: 0 -5px;
  background: url('i/download.png'); 
  left: 0; top: 15px;
}
.jplayer-audio-source-shifted {
  left: auto;
  right: -48px;
}
.jplayer-ui {
  width: 100%; height: 100%;
  background: url('i/bg-zone-preloaded.png');
  background: url('i/bg-zone-pending.png');
}
.jplayer-edge {
  width: 30px;
  height: 48px;
}
.jplayer-left {
  background: url('i/left-preloaded.png');
  left: -22px;
}
.jplayer-play-left-played {
  background: url('i/left-played.png')
}
.jplayer-right {
  background: url('i/right-preloaded.png');
  right: -22px;
}
.jplayer-right-pending {
  background: url('i/right-pending.png');
}
.jplayer-play-mine {
  width: 100%;
  height: 16px;
  top: 12px
}
.jplayer-dynamic-bar {
  width: 0;
  height: 100%;
  cursor: pointer; cursor: hand;
}
.jplayer-load-bar {
  background: url('i/bg-preloaded.png');
}
.jplayer-play-bar {
  background: url('i/bg-played.png');
}
.jplayer-load-bar-end {
  left: 0;
  top: 1px;
  width: 9px;
  height: 14px;
  background: url('i/end-preloaded.png');
}
.jplayer-play-lift {
  left: 0; top: 1px;
  width: 14px; height: 14px;
  margin-left: -7px;
  background: url('i/lift.png'); 
  cursor: pointer; cursor: hand;
}
.jplayer-buffering {
  left: 1px; top: 1px;
  width: 12px; height: 12px;
  background: url('i/buffering.gif'); 
}
.jplayer-control {
  left: -24px; top: 15px; 
  width: 24px; height: 25px;
  margin: -8px;
  
  left: auto; right: -24px;

  cursor: pointer; cursor: hand;
}
.jplayer-play {
  background: url('i/paused.png') 8px 8px no-repeat;
}
.jplayer-pause {
  background: url('i/playing.png') 8px 8px no-repeat;
}
.jplayer-time-info {
  width: 100%;
  top: 32px;
  position: absolute;
  /*
  font-size: 9px;
  font-family: 'Verdana';
  */
  font-size: 85%;
  text-shadow: 0px 1px 0px #fff;
}
.jplayer-play-time {
  left: -8px;
}
.jplayer-name {
  left: 0;
  width: 100%;
  text-align: center;
}
.jplayer-total-time {
  right: -8px;
}
/*
.jplayer-volume {
  right: -24px; top: 14px; 
  width: 22px; height: 27px;
  margin: -8px;
  cursor: pointer; cursor: hand;
}
.jplayer-volume-0 {
  background: url('i/volume-0.png') 8px 8px no-repeat;
}
.jplayer-volume-1 {
  background: url('i/volume-1.png') 8px 8px no-repeat;
}
.jplayer-volume-2 {
  background: url('i/volume-2.png') 8px 8px no-repeat;
}
.jplayer-volume-3 {
  background: url('i/volume-3.png') 8px 8px no-repeat;
}
*/